.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  max-width: 30px;
  min-height: 28px;
  text-decoration: none;
  cursor: url('../../../images/pointer.svg'), pointer;
  transition: .3s;
}

.header__lang-link:hover {
  opacity: .8;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
