.place__title {
  margin: 0;
  max-width: 460px;
  min-width: 288px;
  min-height: 35px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: end;
}

@media (max-width: 804px) {
  .place__title {
    box-sizing: border-box;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 598px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 320px) {
  .place__title {
    min-width: 288px;
    margin: 0 auto;
    padding: 0;
    font-size: 32px;
    line-height: 35px;
  }
}
