.page {
  min-width: 320px;
  width: 100%;
  color: #FFFFFF;
  background-color: #2A2C2F;
  grid-template-columns: minmax(320px, 1184px);
  grid-template-rows: minmax(42px, 52px) 1fr minmax(52px, 310px);
  grid-template-areas:
  "header"
  "main"
  "footer";
  box-sizing: border-box;
  padding: 28px 0 24px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (max-width: 320px) {
  .page {
    padding-top: 16px;
  }
}
