.photo-grid {
  max-width: 1184px;
  min-height: 671px;
  box-sizing: border-box;
  padding-top: 92px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .photo-grid {
    padding-top: 88px;
    margin: 0 24px;
  }
}

@media (max-width: 320px) {
  .photo-grid {
    padding-top: 64px;
    margin: 0 16px;
  }
}
