.place__container {
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .place__container {
    max-width: 440px;
  }
}

@media (max-width: 768px) {
  .place__container {
    max-width: 340px;
  }
}

@media (max-width: 598px) {
  .place__container {
    margin: 0 0 0 16px;
  }
}

@media (max-width: 360px) {
  .place__container {
    min-width: 320px;
    margin: 0 auto;
  }
}
