.places {
  display: grid;
  max-width: 984px;
  min-width: 288px;
  grid-template-columns: minmax(320px, 984px);
  grid-template-rows: 660px 584px 584px 660px 584px;
  gap: 80px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 92px;
}
