.footer__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 698px) {
  .footer__columns {
    flex-direction: column;
    align-items: flex-start;
  }
}
