.lead {
  max-width: 984px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 66px;
  position: relative;
}

@media (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}
