.lead {
  max-width: 100%;
  min-width: 320px;
  min-height: 406px;
  margin: auto;
  box-sizing: border-box;
  padding-top: 56px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .lead {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .lead {
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
  }
}
