.footer__author {
  margin: 0;
  min-height: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: 698px) {
  .footer__author {
    line-height: 14px;
    margin-top: 48px;
  }
}
