.lead__title {
  max-width: 720px;
  min-width: 288px;
  min-height: 88px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .lead__title {
    max-width: calc(100% - 48px);
    font-size: 56px;
    line-height: 60px;
  }
}

@media (max-width: 452px) {
  .lead__title {
    max-width: calc(100% - 32px);
    font-size: 40px;
    line-height: 44px;
  }
}
