.lead__title {
  max-width: 720px;
  min-width: 288px;
  min-height: 88px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 712px) {
  .lead__title {
    font-size: 50px;
    line-height: 54px;
  }
}

@media (max-width: 364px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}
