.place__paragraph {
  margin: 0 0 26px 0;
  min-height: 104px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29.34px;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 27px;
  }
}

@media (max-width: 804px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
    line-height: 26.08px;
  }
}

@media (max-width: 598px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26.05px;
    margin-bottom: 25px;
  }
}
