.intro {
  max-width: 690px;
  min-height: 429px;
  box-sizing: border-box;
  margin: 0 0 0 100px;
  padding-top: 82px;
}

@media (max-width: 1024px) {
  .intro {
    margin: 0;
    padding-top: 92px;
  }
}

@media (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px;
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .intro {
    margin: 0 16px;
    padding-top: 64px;
  }
}
