.cover {
  max-width: 1184px;
  margin: 92px auto 0;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 510px) {
  .cover {
    margin-top: 66px;
  }
}
