.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  cursor: url('../../../images/pointer.svg'), pointer;
  transition: .3s;
}

.place__link:hover {
  opacity: .8;
}
