.lead__container {
  margin: 0;
  box-sizing: border-box;
  padding: 64px 0 0;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .lead__container {
    padding-top: 56px;
  }
}

@media (max-width: 730px) {
  .lead__container {
    padding-top: 48px;
  }
}

@media (max-width: 452px) {
  .lead__container {
    padding-top: 40px;
  }
}
