.lead__container {
  margin: 64px auto 0;
  max-width: 984px;
  position: relative;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .lead__container {
    margin-top: 56px;
  }
}

@media (max-width: 320px) {
  .lead__container {
    margin-top: 40px;
  }
}
