.footer {
  grid-area: footer;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 92px 0 0;
  max-width: 1184px;
  min-width: 186px;
  min-height: 18px;
}

@media (max-width: 1280px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: calc(100% - 48px);
    padding: 88px 0 0;
  }
}

@media (max-width: 360px) {
  .footer {
    max-width: calc(100% - 32px);
    padding: 64px 0 0;
  }
}
