.footer__column-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 698px) {
  .footer__column-links {
    flex-basis: 248px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
