.place__website {
  min-width: 288px;
  min-height: 46px;
  align-self: end;
}

@media (max-width: 598px) {
  .place__website {
    margin: 0 16px;
  }
}

@media (max-width: 360px) {
  .place__website {
    min-width: 288px;
  }
}
